
body {
    font-family: "Open Sans", sans-serif;
  }

header {
    font-family: "Open Sans", sans-serif;
    width: 100%;
}

.high-scores {
    width: 100%;
    display: block;
}

.open-scores {
    font-size: 28px;
    color: #036ffc;
    float: left;
    margin: 10px;
    font-weight: bold;
    border: none;
    background: none;
}

.quiz {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 6%;
}

.start-quiz {
    padding: 10px;
    border: 2px solid black;
    background: #036ffc;
    font-size: 36px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 40px 0 40px;
}

.play-again {
    padding: 10px;
    border: 2px solid black;
    background: #036ffc;
    font-size: 36px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.question-box {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10%;    
}

.question-header {
    width: 100%;
    font-size: 36px;
    color: #036ffc;
    text-align: center;
}

.choice-item {
    flex-wrap: wrap;
    color: white;
    width: 100%;
    height: 25%;
    font-size: 32px;
    font-weight: bold;
    background: #036ffc;
    text-align: center;
}

.choice-item:hover {
    opacity: 0.8;
}

.final-score {
    border: 5px solid black;
    border-radius: 15px;
    font-size: 48px;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    margin: 0 20%;
    color:#036ffc;
    text-align: center;
}

.high-score-table {
    font-size: 28px;
    display: inline-block;
    color: #036ffc;
    font-weight: bold;
    position: relative;
    left: 0;
    top: 8%;
}

.score-entry {
    color: black;
    font-size: 28px;
    color: #036ffc;
    position: relative;
    left: 20%;
}

.clock-display {
    padding: 0 20% 0 20%;
    text-align: center;
    color: red;
    font-size: 48px;
    margin-top: 2%;
    margin-bottom: 0;
}

.clock-title {
    padding: 0 20% 0 20%;
    text-align: center;
    color: red;
    font-size: 28px;
}

.go-back, .clear-history {
    font-size: 28px;
    color: white;
    float: left;
    margin: 10px;
    font-weight: bold;
    border: none;
    background: #036ffc;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 0;
    width: 60%;
}

@media screen and (max-width: 980px) {
    .question-box {
        margin: 0 5%;
    }   

    .quiz {
        margin: auto;
    }

    .final-score {
        margin: 0;
    }

    .play-again {
    margin: 0 36%;
    }
}

@media screen and (max-width: 768px) {
    .clock-display {
        padding: 0;
    }

    .final-score {
        width: 95%;
    }
}

@media screen and (max-width: 575px) {
    .start-quiz {
        position: absolute;
        left: 25%;
    }

    .clock-title {
        padding: 0;
    }

    .final-score {
        width: 90%;
    }

}