header {
    width: 100%;
}

.high-scores {
    width: 100%;
    display: block;
}

.open-scores {
    font-size: 28px;
    color: plum;
    float: left;
    margin: 10px;
    font-weight: bold;
    border: none;
    background: none;
}

.quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    left: 35%;
}

.start-quiz {
    padding: 10px;
    border: 2px solid black;
    background: royalblue;
    font-size: 36px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 40px 0 40px;
}